<div class="container1">
  <div class="wrapper text-center">
    <div class="text-wrapper">
      <div class="search-wrapper">
          <input type="text" [(ngModel)]="player_name" class="input" placeholder="Search"> 
      </div>

      <div class="result-wrapper" *ngFor = "let play of  playerService.players| filter:player_name">
          <div *ngIf="player_name"> 
            <p> {{play.player_name}}</p>
          </div>  
      </div>
    </div>
  </div>   
</div>


<div class = "container">  
  <table class = "table table-striped">
    <thead>
      <tr>
        <th scope = "col">Player</th>
        <th scope = "col">Rank</th>
        <th scope = "col">Score</th>
        <th scope = "col">Time</th>
        <th scope = "col">Games Played</th>
        <th scope = "col">Status</th>
        <th scope = "col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let play of playerService.players"
        [class.selected]="play === selectedPlayer"
        (click)="onSelect(play)">
        <td>{{ play.player_name}} </td>
        <td>{{ play.rank}}</td>
        <td>{{ play.score}}</td>
        <td>{{ play.time}}</td>
        <td>{{ play.game_Played}} </td>
        <td>{{ play.status}}  </td>
        <td *ngIf="play.status === 'Available'">
        <button class="btn btn-primary" [routerLink]="['/players',play._id]" type="submit" id="joinGame" >Join Game</button>
        </td>
      </tr>
    </tbody>
</table>

</div>
