
      <div class = "col">   
          <div class="panel-heading">
            <a routerLink = "player-list"><h2> Home </h2></a> 
          </div>
        </div>
  
        <div class = "col">   
          <div class="panel-heading">
            <a routerLink = "admin-playerlist"><h2> Players </h2></a> 
          </div>
        </div>
  
        <div class = "col">   
          <div class="panel-heading">
            <a routerLink = "admin-gamelist"><h2> Games </h2></a> 
          </div>
        </div>
  
        <div class = "col">   
            <div class="panel-heading">
              <a routerLink = "/admin-addplayer"><h2> Admin - Add Player</h2></a> 
            </div>
          </div>
    
        <div class = "col">   
            <div class="panel-heading">
              <a routerLink = "/adminlogin"><h2> Logout</h2></a> 
            </div>
          </div>
  
  