<div class = "container">
  <div class ="card mt-5" style="margin:auto;width:600px;">
    <div class= "card-body">
      <h3 class = "card-title">Login Page </h3>
      <div class="form-group">
        <form>
        <label> Login: </label><br>
        <input  type="text" 
                required 
                class="form-group" 
                id="username" 
                formControlName="username" 
                placeholder="Enter your login">   <br>
        <label>Password: </label><br>
        <input  type="password" 
                required 
                class="form-group" 
                id="password" 
                formControlName="password" 
                placeholder="Password"><br>
        <button type="button" 
        class="btn btn-primary" routerLink="['/mainpage']">Login</button>
      </form>  
      </div>
    </div>
  </div>
</div>